.projects-wrapper {
  padding: 80px 10%;
  color: #e6edf3;
}

.projects-container {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

aside {
  flex: 1;
  background: #0d1117;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1f2937;
}

.project-preview {
  flex: 2;
  background: #0d1117;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1f2937;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
  letter-spacing: 1px;
  font-weight: 700;
  background: linear-gradient(90deg, #00c6ff, #0072ff, #9b5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
