.project-preview {
  background: #0d1117;
  border-radius: 12px;
  padding: 30px;
  min-height: 600px;
  color: #e6edf3;
  overflow: hidden;
  width: 40%
}

.project-preview h2 {
  text-align: center;
}

.project-iframe-wrapper {
  width: 100%;
  height: 520px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.project-iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1200px;
  height: 800px;
  transform: translate(-50%, -50%) scale(0.65);
  transform-origin: center center;
  border: none;
}

.project-video {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  border-radius: 10px;
  margin-top: 20px;
  outline: none;
  background: #000;
}

/* ===== MOBILE LAYOUT ===== */
@media (max-width: 1024px) {
  .project-preview {
    width: 90%;
    min-height: auto;
    padding: 20px;
  }

  .project-iframe-wrapper {
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .project-iframe {
    position: static;
    transform: none;
    width: 100%;
    height: 100%;
  }

  .project-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}