.about {
  background: #0d1117;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1000px;
  flex-wrap: wrap;
}

.about-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  flex: 1;
  min-width: 280px;
}

.about-text h2 {
  color: var(--accent);
  margin-bottom: 1rem;
}

.about-text p {
  color: var(--text);
  margin-bottom: 1rem;
  line-height: 1.6;
}

.stack strong {
  color: var(--accent);
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 1024px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-text h2{
    text-align: center;
}
}
